body{

    background-image: url(https://media.istockphoto.com/photos/cross-at-sunset-crucifixion-of-jesus-christ-picture-id1049887484?k=6&m=1049887484&s=170667a&w=0&h=TTvrnCEJT7rzO5Pde78_heOf2zOzUuD5P0IA61vw9XY=);

}

#all{

    background-color: white;

}

#citacao{
    margin: 4rem;

    border: 2px solid red;
}

h1{
    color: black;
}

p{
    color: black;
}
    
h3{
    color: black;
}
#sermons{
    border: 2px solid black;
}



