body{

    background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwallpapercave.com%2Fwp%2FGHpk8qa.jpg&f=1&nofb=1);

}

#all{

    background-color: white;

    border: 2px solid rgb(218, 221, 26);

}

#citacao{
    margin: 4rem;

    border: 2px solid red;
}

h1{
    color: black;
}

p{
    color: black;
}
    
h3{
    color: black;
}
#sermons{
    border: 2px solid black;
}

strong{
    color: black;
}


